<!-- Listado Estados -->
<datalist id="crud_Estado_Usuarios">
    <option value="Activo">Usuario Activo</option>
    <option value="Inactivo">Usuario Inactivo</option>
</datalist>
<!-- end Listado Estados -->

<!-- Listado Estados -->
<datalist id="crud_Estado_Sucursales">
    <option value="Activo">Sucursal Activa</option>
    <option value="Inactivo">Sucursal Inactiva</option>
</datalist>
<!-- end Listado Estados -->

<!-- Listado Estados -->
<datalist id="crud_Estado_Productos">
    <option value="Activo">Producto Activo</option>
    <option value="Inactivo">Producto Inactivo</option>
</datalist>
<!-- end Listado Estados -->

<!-- Listado Estados -->
<datalist id="crud_Estado_Mesas">
    <option value="Disponible">Mesa Disponible</option>
    <option value="Ocupada">Mesa Ocupada</option>
</datalist>
<!-- end Listado Estados -->

<!-- Listado Estados -->
<datalist id="crud_Estado_Pedidos">
    <option value="Cancelado">Pedido Cancelado</option>
    <option value="Pendiente">Pedido Pendiente por Cancelar</option>
</datalist>
<!-- end Listado Estados -->

<!-- Roles internos -->
<datalist id="crud_rol_internos">
    <option value="Administrador">Administrador</option>
    <option value="Cajero">Cajero</option>
    <option value="Mesero">Mesero</option>
</datalist>
<!-- Fin Roles internos -->
